div.sphinxsidebar {
    font-size: .8em;
}

.rightalign {
    text-align: right;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
}

#custom-footer {
    font-style: italic;
}

#vssue-note {
    font-size: 0.95em;
    text-align: center;
    font-style: italic;
}

#customlinks {
    font-size: 120%;
}

.sphinxsidebar {
    text-align: right;
}
