{% block customlinks %}
<div id="customlinks">
  <ul>
  <li><a href="/rss.xml" target="_blank">RSS</a></li>
  <li><a href="/_static/misc/mohan43u.space.pdf" target="_blank">PDF</a></li>
  <li><a href="https://gitlab.com/mohan43u" target="_blank">GitLab</a></li>
  <li><a href="https://github.com/mohan43u" target="_blank">GitHub</a></li>
  <li><a href="/index/aboutme.html">About Me</a></li>
  </ul>
</div>
{% endblock customlinks %}
